@model List<Car>


@foreach (Car car in Model)
{
    <div class="item">
        <div class="car-wrap rounded ftco-animate">
            <div class="img rounded d-flex align-items-end">
                <img src="~/uploads/car/@car.CarImages.FirstOrDefault(x=>x.isPoster==true).ImageName" class="img-fluid" alt="">
            </div>
            <div class="text">
                <h2 class="mb-0"><a href="car-single.html">@car.Model</a></h2>
                <div class="d-flex mb-3">
                    <span class="cat">@car.Brand.Name</span>
                    <p class="price ml-auto">$@(car.PricePerDay) <span>/day</span></p>
                    <p class="price ml-auto">$@(car.PricePerMonth) <span>/month</span></p>
                </div>
                <p class="d-flex mb-0 d-block">
                    <a asp-action="index" asp-controller="checkout" asp-route-id="@car.Id" class="btn btn-primary py-2 mr-1" style="border-top-right-radius: 50px;border-bottom-left-radius: 50px">Book now</a>
                    <a asp-action="detail" asp-controller="car" asp-route-id="@car.Id" class="btn btn-secondary py-2 ml-1" style="border-bottom-right-radius: 50px;border-top-left-radius: 50px">Details</a>
                </p>
            </div>
        </div>
    </div>
}
