@model HomeViewModel

<!-- ======= Hero Section ======= -->
@await Component.InvokeAsync("Hero",Model.Heroes)
<!-- ======= Featured Vehicle Section ======= -->
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">What we offer</span>
                <h2 class="mb-2">Featured Vehicles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    @await Component.InvokeAsync("Car",Model.FeaturedCars)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= AboutUs Section ======= -->
@await Component.InvokeAsync("About",Model.AboutUs)
<!-- ======= Services Section ======= -->
@await Component.InvokeAsync("Services",Model.Services)
<!-- ======= Do You Want Section ======= -->
@await Component.InvokeAsync("DoYouWant",Model.DoYouWants)
<!-- ======= Testimonial Section ======= -->
@await Component.InvokeAsync("Testimonial",Model.Testimonials)
<!-- ======= Blog Section ======= -->
@await Component.InvokeAsync("Blog")
<!-- ======= Info Section ======= -->
@await Component.InvokeAsync("Info")
