@model List<AboutUs>

@foreach (AboutUs about in Model)
{

    <section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" >
                    <img src="~/uploads/aboutus/@about.ImageName" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">About us</span>
                        <h2 class="mb-4">@about.Title</h2>
                        <p>@about.Description</p>
                        <p><a asp-action="index" asp-controller="car" class="btn btn-primary py-3 px-4">Look at the cars</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
