@model AdminLoginViewModel
@{
	Layout=null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/etc/lf/Login_v16/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Feb 2023 17:02:10 GMT -->
<head>
	<title>Login-Admin Panel</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="~/manage/login/images/icons/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="~/manage/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/manage/login/css/main.css">

	<meta name="robots" content="noindex, follow">
	<script nonce="673a5d31-026d-4187-acba-28facb8dbde4">(function (w, d) { !function (f, g, h, i) { f[h] = f[h] || {}; f[h].executed = []; f.zaraz = { deferred: [], listeners: [] }; f.zaraz.q = []; f.zaraz._f = function (j) { return function () { var k = Array.prototype.slice.call(arguments); f.zaraz.q.push({ m: j, a: k }) } }; for (const l of ["track", "set", "debug"]) f.zaraz[l] = f.zaraz._f(l); f.zaraz.init = () => { var m = g.getElementsByTagName(i)[0], n = g.createElement(i), o = g.getElementsByTagName("title")[0]; o && (f[h].t = g.getElementsByTagName("title")[0].text); f[h].x = Math.random(); f[h].w = f.screen.width; f[h].h = f.screen.height; f[h].j = f.innerHeight; f[h].e = f.innerWidth; f[h].l = f.location.href; f[h].r = g.referrer; f[h].k = f.screen.colorDepth; f[h].n = g.characterSet; f[h].o = (new Date).getTimezoneOffset(); if (f.dataLayer) for (const s of Object.entries(Object.entries(dataLayer).reduce(((t, u) => ({ ...t[1], ...u[1] }))))) zaraz.set(s[0], s[1], { scope: "page" }); f[h].q = []; for (; f.zaraz.q.length;) { const v = f.zaraz.q.shift(); f[h].q.push(v) } n.defer = !0; for (const w of [localStorage, sessionStorage]) Object.keys(w || {}).filter((y => y.startsWith("_zaraz_"))).forEach((x => { try { f[h]["z_" + x.slice(7)] = JSON.parse(w.getItem(x)) } catch { f[h]["z_" + x.slice(7)] = w.getItem(x) } })); n.referrerPolicy = "origin"; n.src = "../../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(f[h]))); m.parentNode.insertBefore(n, m) };["complete", "interactive"].includes(g.readyState) ? zaraz.init() : f.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-color:skyblue">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Admin Login
				</span>
				<form method="post" class="login100-form validate-form p-b-33 p-t-5">
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input asp-for="Username" class="input100" placeholder="User name">
						<span asp-validation-for="Username" class="text-danger"></span>
						<span  class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input asp-for="Password" class="input100" placeholder="Password">
						<span asp-validation-for="Password" class="text-danger"></span>
						<span  class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					<div asp-validation-summary="ModelOnly" class="text-danger" style="text-align-last: center;margin: 10px;background-color: beige;border-radius: 15px;"></div>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>

	<script src="~/manage/login/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="~/manage/login/vendor/animsition/js/animsition.min.js"></script>

	<script src="~/manage/login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/manage/login/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="~/manage/login/vendor/select2/select2.min.js"></script>

	<script src="~/manage/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/manage/login/vendor/daterangepicker/daterangepicker.js"></script>

	<script src="~/manage/login/vendor/countdowntime/countdowntime.js"></script>

	<script src="~/manage/login/js/main.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7965ee878b0a8ec8","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from colorlib.com/etc/lf/Login_v16/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Feb 2023 17:02:18 GMT -->
</html>
