@model List<DoYouWant>

@foreach (DoYouWant want in Model)
{
    <section class="ftco-section ftco-intro" style="background-image: url(../uploads/doyouwant/@want.ImageName);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">@want.Title</h2>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="quote" asp-controller="about" class="btn btn-primary btn-lg">Give your opinion</a>
                    }
                    else
                    {
                        <a asp-action="login" asp-controller="account" class="btn btn-primary btn-lg">Give your opinion</a>
                    }
                </div>
            </div>
        </div>
    </section>
}