@model Brand
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Detail Brand</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Brand</li>
                <li class="breadcrumb-item">Table</li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">ID:  @Model.Id</label>
                            <label class="col-sm-12 col-form-label">Name:    @Model.Name</label>
                        </div>
                        <button asp-action="index" asp-controller="brand" class="btn btn-dark">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>